$font-roboto: 'Roboto Slab', serif;
$font-squada: 'Squada One', cursive;
$primary-color: #1C2843;
$secondary-color: #FCF4EA;
$black: #2C2721;
$white: #FFFFFF;
$orange: #FD9564;
$gray: #6B6B6B;
$error-red: #D5443F;