@import "./main";

.main{
  width: 74.5%;
  margin: 1.625rem auto;
  padding-bottom: 10rem;

  @media (max-width: 704px){
    width: 85.5%;
    padding-bottom: 3rem;
  }
}

header{
  text-align: center;
}

h1{
  font-family: $font-squada;
  font-size: 3.625rem;
  letter-spacing: 1px;
  color: $black;
  font-weight: 500;
}

h3{
  margin-top: 1.6875rem;
  font-family: $font-roboto;
  font-size: 1.0625rem;
  letter-spacing: 1px;
  color: $black;
  font-weight: 500;
  @media (max-width: 1199px){
    line-height: 1.7rem;
  }
}

h3:last-of-type{
  @media (min-width: 1200px){
    margin-top: .8125rem;
  }
}

.container{
  position: relative;
}

.image-container{
  margin-top: 3.5rem;
  width: 100%;
  padding: .625rem;
  border: 3.5px solid $black;
  box-sizing: border-box;
  @media (min-width: 1200px){
    width: 75.9%;
  }
  img{
    max-width: 100%;
    display: block;
  }
}

.form-container{
  margin: 0;
  background-color: $primary-color;
  right: 0;
  top: 21.5%;
  padding: 31px 31px 44px 31px;
  @media (min-width: 1200px){
    position: absolute;
    max-width: 33%;
  }
  @media (max-width: 1199px){
    margin-top: 2rem;
    padding: 1.5rem;
  }
}

h2{
  margin-top: 5px;
  font-family: $font-squada;
  font-size: 2.3125rem;
  letter-spacing: 1.8px;
  color: $white;
  font-weight: 500;
  text-align: center;
}

.error-msg{
  font-size: 0.875rem;
  font-family: $font-roboto;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  color: $error-red;
  width: 100%;
  display: flex;
  gap: .625rem;

  div {
    width: 100%;
  }

  @media (max-width: 1199px){
    margin: 0.5rem
  }
  
}

form{
  margin-top: 2.4rem;
}

.field-group{
  width: 100%;
  display: flex;
  gap: .625rem;
  @media (min-width: 1200px){
    margin-top:1.5625rem;
  }
  @media (max-width: 1199px){
    flex-direction: column;
  }
}

.field-group:nth-of-type(2){
  margin-top: 0.5rem;
  @media (min-width: 1200px){
    margin-top:2.1875rem;
  }
}

.field-group:nth-of-type(4){
  @media (min-width: 1200px){
    margin-top:0.5rem;
  }
}

.field{
  width: 100%;
}

input, select{
  width: 100%;
  height: 100%;
  font-family: $font-roboto;
  font-size: .875rem;
  letter-spacing: 0.6px;
  color: $gray;
  font-weight: 500;
  padding: .6rem .55rem;
  box-sizing: border-box;
}
select{
  border-radius: 6px;
  cursor: pointer;
  width: 100%;
}

input[type="date"]{
  cursor: pointer;
  width: 100%;
  box-sizing: border-box;
  padding-right: 0;
}

input[type="text"]:disabled{
  background-color: $white;
  border: none;
}

button{
  width: 100%;
  margin-top: 2.2rem;
  border: none;
  border-radius: 32px;
  display: flex;
  justify-content:center;
  padding: 1rem 0;
  font-family: $font-roboto;
  font-size: 1.125rem;
  font-weight: 400;
  letter-spacing: 2px;
  background-color: $orange;
  color: $white;
  cursor: pointer;
}

button:active{
    background-color:#fe854d;
  }

.--mobile-hidden{
  @media (max-width: 704px){
    display: none;
  }
}